.main {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    &::before {
      content: "Hi!";
      font-size: 2em;
      margin: 0 auto;
      position: absolute;
    }
    &:hover {
      .red {
        transform: rotate(-90deg) translateY(-50px);
      }
      .green {
        transform: rotate(90deg) translateY(-50px);
      }
      .blue {
        transform: rotate(-90deg) translateY(-50px);
      }
      .yellow {
        transform: rotate(90deg) translateY(-50px);
      }
    }
  }
  .square {
    width: 50px;
    height: 50px;
    position: relative;
  }
  .red {
    background-color: red;
    transition: all 1.5s ease;
  }
  .green {
    background-color: green;
    transition: all 1.5s ease;
  }
  .blue {
    background-color: blue;
    transition: all 1.5s ease;
  }
  .yellow {
    background-color: yellow;
    transition: all 1.5s ease;
  }
/*

.main {
  width : 100px;
  height : 100px;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  position:relative;
  margin-top:100px;
} 

.main::before{
  content:"Hi!";
  font-size: 2em;
  margin:0 auto;
  position:absolute;
}

.square{
  width : 50px;
  height: 50px;
  position:relative; 
}

.red{
  background-color:red;
}

.green{
  background-color:green;
}

.blue{
  background-color:blue;
}

.yellow{
  background-color:yellow;
}

.red{
  background-color:red;
  transition: all 1.5s ease;
}

.green{
  background-color:green;
  transition: all 1.5s ease;
}

.blue{
  background-color:blue;
  transition: all 1.5s ease;
}

.yellow{
  background-color:yellow;
  transition: all 1.5s ease;
}

.main:hover .red{
  transform: rotate(-90deg) translateY(-50px);
}

.main:hover .green{
  transform: rotate(90deg) translateY(-50px);
}

.main:hover .blue{
  transform: rotate(-90deg) translateY(-50px);
}

.main:hover .yellow{
  transform: rotate(90deg) translateY(-50px);
}
*/  